.score{
    font-size: 14;
    font-weight: bolder;
    color : blue;
}

.wins{
    font-size: 14;
    font-weight: bolder;
    color : #99CC66;
}

.losts{
    font-size: 14;
    font-weight: bolder;
    color : #003300;
}

.close_img{
    position : absolute;
    left: 95%;
    top : 5%;
}

TABLE.table1 {
    margin-left:30px;
    align:center;
    padding: 200px;
    background: white; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
    font-weight: bolder;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}

.table1 TD, TH {
    cursor: pointer;
    text-align: center;
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
    background: cornflowerblue; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
}

.table1 TD.cellselect{
    background: #f8fcff; /* Цвет фона таблицы */
    color: black; /* Цвет текста */
}

.table1 TD.cellfind{
    background: rgba(0, 0, 0, 0.55); /* Цвет фона таблицы */
    color: white; /* Цвет текста */
}

TABLE.table2 {
    width:95%;
    margin-left:10px;
    align:center;
    padding: 200px;
    color: black; /* Цвет текста */
    font-weight: bolder;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}
.table2 TD, TH {
    text-align: center;
    padding: 3px; /* Поля вокруг содержимого таблицы */
    padding: 5px; /* Поля вокруг текста */
}

.table2 TD.wordfind{
    text-decoration:line-through;
    color: red;
}

TABLE.table3 {
    margin-left:30px;
    align:center;
    padding: 200px;
    font-weight: bolder;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}

.table3 TD, TH {
    text-align: center;
    padding: 3px; /* Поля вокруг содержимого таблицы */
    padding: 5px; /* Поля вокруг текста */
}

.table3 TD.cellTHBlue{
    color: darkblue; /* Цвет текста */
}

.table3 TD.cellTHGreen{
    color: green; /* Цвет текста */
}

#top_ten_table{
    padding: 10px;
}

#td_top_ten_table_top{
    padding: 5px 20px 5px 20px;
}

#td_top_ten_table{
    padding: 5px 20px 5px 40px;
}

